{
    "extends": [
        "eslint:recommended"
    ],
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": ["warn", "never"],
        "no-console": "warn",
        "no-unused-vars": "warn"
    },
    "globals": {
        "describe": true,
        "it": true
    }
}
